@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: white;
    --bg-color: black;
    --main-color: orange;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #363636;
    /* background: rgba(225, 225, 225, .1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 99;
}

.logo {
    font-size: 33px;
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

span {
    color: #3eadbc;
}

.navbar {
    display: flex;
}

.navbar a {
    display: inline-block;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 25px;
    transition: all .5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #3eadbc;
    padding-right: 10px;
}

.navbar a:focus {
    color: #3eadbc;
}

.menu-btn {
    display: none;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(-50%);
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.menu-btn::before,
.menu-btn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
    border-radius: 5px;
}

.menu-btn::before {
    top: -8px;
}

.menu-btn::after {
    top: 8px;
}

.menu-btn.active {
    background: rgba(0, 0, 0, 0);
}

.menu-btn.active::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-btn.active::after {
    top: 0;
    transform: rotate(135deg);
}


.follow-me {
    display: flex;
    align-items: center;
}

.follow-me a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.follow-me a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .5s ease;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.follow-me a:hover {
    color: #3eadbc;
    padding-right: 10px;
}

/* section */
section {
    padding: 70px 20% 60px;
}

.home {
    position: right;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.75)), url(58747.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #3eadbc;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .4s;
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffffab;
    margin-bottom: 35px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.home-text a {
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: #3eadbc;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    transition: all .50s ease;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}


.btn:hover {
    transform: translateX(10px);
    border: 5px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}

main {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75),  rgba(0, 0, 0, 0.75)), url(View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu_\(cropped\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* ContactForm */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
}

.contact .content p {
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.container .contact-Info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-Info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-Info .box h1 {
    color: #000;
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container .contact-Info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.container .contact-Info .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contact-form {
    width: 30%;
    padding: 40px;
    background: #fff;
}

.contact-form h2 {
    font-size: 36px;
    color: #333;
    font-weight: 500;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
} 

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 2px solid #333;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;        
}

.contact-form .input-box input:focus~.span,
.contact-form .input-box input:valid~.span,
.contact-form .input-box textarea:focus~.span,
.contact-form .input-box textarea:valid~.span {
    color: #3eadbc;
    font-size: 12px;
    transform: translateY(-20px);
}

/* .contact-form input[type="email"]:focus */

.contact-form .input-box input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* about me */

article {
    position: right;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
    line-height: 2;
    letter-spacing: 1px;
}

article h1 {
    color: rgb(82, 80, 80);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

article h1:after {
    content: "";
    height: 5px;
    width: 225px;
    background-color: rgb(82, 80, 80);
    display: block;
    margin: auto;
}

article img {
    width: 270px;
    height: 290px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-top: 60px;
}

blockquote {
    max-width: 650px;
    color: rgb(82, 80, 80);
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

article h5 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    color: #3eadbc;
    padding: 5px;
    border-left: 5px solid rgb(82, 80, 80);
}

article p {
    color: rgb(82, 80, 80);
    font-size: 17px;
}

/* MyProjects */

.myworks {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myworks-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
}

.myworks-head h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.myworks-head p {
    font-size: 20px;
    margin-bottom: 10px;
}

.myworks-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

.works {
    position: relative;
    width: 500px;
    height: 320px;
    background-color: #fff;
}


.work-text {
    color: #000;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.projects {
    position: right;
    width: 100%;
    height: 1100px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
}

.project-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}

.projects-content p {
    text-align: center;
    margin-bottom: 20px;
}

.projects-content img {
    transition: all .5s ease;
    cursor: pointer;
}

.projects-content img:hover {
    transform: translateY(-20px);
    border: 5px solid #fff;
}

.projects-content a {
    display: flex;
    width: 130px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #3eadbc;
    transition: all .5s ease;
    cursor: pointer;
}

.projects-content a:hover {
    transform: translateX(10px);
    background: transparent;
    border: 5px solid #fff;
}

.testimonials {
    width: 100%;
    height: 700px;
    background-color: #fafafa;
    border-radius: 5px 5px 50px 50px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test-head {
    text-align: center;
}

.test-head h2 {
    font-size: 40px;
    font-weight: 800;
    color: #000;
    text-transform: capitalize;
}

.test-head p {
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}

.test-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.testimony {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
}

.testimony h3 {
    font-size: 90px;
}

.textbox-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    width: 100%;
    height: 350px;
    background-color: #3eadbc;
    border-radius: 10px;
    overflow: scroll;
}

.textbox-mid p {
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}


.test-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.test-icons i {
    color: #222;
    font-size: 50px;
}

.test-icons p {
    color: #222;
    font-style: italic;
}

.steps {
    width: 100%;
    height: 500px;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps-head h2 {
    font-size: 30px;
    font-weight: 600;
}

.steps-head p {
    color: rgb(82, 80, 80);
    margin-bottom: 20px;
}

.steps-cont {
    display: flex;
    max-width: 1200px;
    gap: 50px;
}

.my-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-steps i {
    font-size: 70px;
    color: #3eadbc;
}

.my-steps h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.my-steps p {
    text-align: center;
    color: rgb(82, 80, 80);
    margin-bottom: 30px;
}

.steps-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 120px;
    height: 50px;
    background-color: #3eadbc;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    transition: .4s ease;
}

.steps-btn:hover  {
    background: transparent;
    border: 3px solid #222;
    color: #222;
    transform: scale(110%);
}


footer {
    width: 100%;
    height: 200px;
    padding: 20px;
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

footer .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot-socials {
    display: flex;
    gap: 20px;
}

.foot-socials a {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

/* KEYFRAMES */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* MEDIA QUERIES */
/* Responsive Styles */

@media (max-width:991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contact-Info {
        margin-bottom: 40px;
    }

    .container .contact-Info,
    .contact-form {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 120%;
    }

    header {
        padding: 1.5rem 4%;
        background-color: #222;
    }

    .home {
        padding: 0 4%;
    }

    .home-text p {
        font-size: 20px;
        max-width: 500px;
    }

    .home-text a {
        font-size: 25px;
        font-weight: 500;
    }

    .myworks {
        width: 100%;
        height: 1600px;
    }

    .myworks-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .work-img img {
        width: 500px;
    }

    .works {
        width: 500px;
        height: 320px;
    }

    article {
        padding: 3rem 4%;
    }
    
    article {
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .web-icon {
        width: 60%;
    }
    
    blockquote {
        max-width: 650px;
        font-size: 25px;
        margin-top: 30px;
    }

    .projects-content a {
        display: flex;
        justify-content: center;
        width: 150px;
        padding: 15px;
    }

    .navbar {
        flex-direction: column;
        position: fixed;
        top: 100%;
        left: -100%;
        width: 100%;
        height: 400px;
        padding: 20px;
        background-color: #222;
        transition: left 0.3s ease-in-out;
    }

    .navbar.active {
        left: 0;
    }

    .navbar a {
        font-size: 20px;
        margin: 15px 0;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
    }

    .follow-me {
        display: none;
    }

    .steps {
        width: 100%;
        height: 1300px;
    }

    .my-steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .my-steps h4 {
        margin: 20px 20px;
    }

    .steps-cont {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        gap: 5px;
    }

    .projects {
        width: 100%;
        height: 1300px;
    }
    
    .project-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .testimonials {
        width: 100%;
        height: 1300px;
        border-radius: 5px 5px 50px;
    }

    .testimony {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 600px;
    }

    .test-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .textbox-mid { 
        height: 250px;
    }
    
    footer {
        height: 150px;
        flex-direction: column;
        background-color: #222;
        gap: 30px;
    }

    .foot-socials a {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 60%;
    }

    .logo {
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 350px;
        padding: 20px;
        background-color: #222;
        transition: left 0.3s ease-in-out;
    }

    .navbar.active {
        left: 0;
    }

    .navbar a {
        font-size: 20px;
        margin: 15px 0;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
    }

    .follow-me {
        display: none;
    }

    header {
        padding: 3rem 4%;
        height: 70px;
        background-color: #222;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .home-text h4 {
        font-size: 25px;
    }
    
    .home-text h1 {
        font-size: 80px;
    }

    .home-text p {
        font-size: 13px;
        max-width: 500px;
    }

    .home-text a {
        font-size: 15px;
        font-weight: 500;
    }

    .myworks {
        width: 100%;
        height: 1500px;
    }

    .myworks-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .work-img img {
        width: 500px;
    }

    .works {
        width: 500px;
        height: 300px;
    }

    footer {
        padding: 2rem 4%;
    }

    .steps {
        width: 100%;
        height: 1150px;
    }

    .my-steps i {
        font-size: 70px;
        color: #3eadbc;
        margin-bottom: -20px;
    }

    .steps-cont {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        gap: 5px;
    }

    .my-steps h4 {
        margin: 20px 20px;
    }

    .my-steps p {
        font-size: 15px;
        text-align: center;
        color: rgb(82, 80, 80);
        margin-bottom: 20px;
    }
    
    .steps-btn {
        font-size: 15px;
    }
    

    .projects {
        width: 100%;
        height: 1300px;
    }
    
    .project-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    .projects-content {
        font-weight: 600;
        text-align: center;
    }

    .projects-content img {
        width: 80%;
        height: 100%;
        margin-bottom: 15px;
    }

    .projects-content a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 13px;
        width: 100px;
        padding: 8px;
    }

    .projects-content p {
        max-width: 600px;
        font-size: 18px;
    }

    .testimonials {
        width: 100%;
        height: 1300px;
        border-radius: 5px 5px 50px;
    }

    .testimony {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
    }

    .test-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .textbox-mid {
        width: 100%;
        height: 270px;
    }

    article {
        padding: 3rem 4%;
    }
    
    article {
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .contact-form {
        width: 110%;
    }

    .web-icon {
        width: 60%;
    }
    
    blockquote {
        max-width: 600px;
        font-size: 23px;
        margin-top: 30px;
    }

    footer {
        height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .foot-socials a {
        font-size: 20px;
    }


}

@media (max-width: 430px) {

    html {
        font-size: 60%;
    }

    .logo {
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 320px;
        padding: 15px;
        overflow-x: scroll;
        background-color: #222;
        transition: left 0.3s ease-in-out;
    }

    .navbar.active {
        left: 0;
    }

    .navbar a {
        font-size: 20px;
        margin: 15px 0;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
    }

    .follow-me {
        display: none;
    }

    header {
        padding: 3rem 4%;
        height: 70px;
        background-color: #222;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .home-text h4 {
        font-size: 15px;
    }
    
    .home-text h1 {
        font-size: 52px;
    }

    .home-text p {
        font-size: 13px;
        max-width: 300px;
    }

    .home-text a {
        font-size: 15px;
        font-weight: 500;
    }

    .myworks {
        width: 100%;
        height: 1100px;
    }

    .myworks-head h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    .myworks-head p {
        font-size: 17px;
        margin-bottom: 10px;
        text-align: center;
    }

    .myworks-container {
        display: grid;
        grid-template-columns: 2fr;
        gap: 30px;
    }

    .work-img img {
        width: 300px;
    }

    .works {
        position: relative;
        width: 300px;
        height: 200px;
        background-color: #fff;
    }

    footer {
        padding: 2rem 4%;
    }

    .steps {
        width: 100%;
        height: 1000px;
    }

    .my-steps i {
        font-size: 70px;
        color: #3eadbc;
        margin-bottom: -20px;
    }

    .steps-cont {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        gap: 5px;
    }

    .my-steps p {
        font-size: 10px;
        text-align: center;
        color: rgb(82, 80, 80);
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .my-steps h4 {
        margin-top: 10px;
    }
    
    .steps-btn {
        font-size: 15px;
    }
    

    .projects {
        width: 100%;
        height: 900px;
    }
    
    .project-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    .projects-content {
        font-weight: 600;
        text-align: center;
    }

    .projects-content img {
        width: 80%;
        height: 100%;
        margin-bottom: 15px;
    }

    .projects-content a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        width: 100px;
        padding: 8px;
    }

    .projects-content p {
        max-width: 350px;
        font-size: 13px;
    }

    article {
        padding: 3rem 4%;
    }
    
    article {
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .web-icon {
        width: 90%;
    }
    
    blockquote {
        max-width: 600px;
        font-size: 17px;
        margin-top: 30px;
    }


    .testimonials {
        width: 100%;
        height: 1400px;
        border-radius: 5px 5px 50px;
    }

    .test-head h2 {
        margin-top: 30px;
        font-size: 30px;
    }
    
    .test-head p {
        font-size: 12px;
    }
    
    
    .test-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .textbox-mid {
        padding: 2rem 4%;
        width: 100%;
        height: 350px;
    }

    .text-box p {
        font-size: 13px;
    }
    
    .testimony {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }

    footer {
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #222;
        gap: 20px;
    }

    .foot-socials a {
        font-size: 15px;
    }


}

    /* Add more responsive styles as needed */

