* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --text-color: white;
    --bg-color: black;
    --main-color: orange;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(225, 225, 225, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 33px;
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    display: inline-block;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 25px;
    transition: all .5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    padding-right: 10px;
}

.follow-me {
    display: flex;
    align-items: center;
}

.follow-me a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.follow-me a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .5s ease;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.follow-me a:hover {
    color: var(--main-color);
    padding-right: 10px;
}

/* section */
section {
    padding: 70px 20% 60px;
}

.home {
    position: right;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.6)), url(632f15f6bb4d2a228b8ee3df_next-webdesign-dienstleistung-website-min.webp);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: orange;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .4s;
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffffab;
    margin-bottom: 35px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}


.btn {
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    transition: all .50s ease;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    transform: translateX(10px);
    border: 5px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}

article {
    position: right;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.6)), url(istockphoto-160793500-612x612.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 50px 100px;
    margin-bottom: 10px;
}

article .aboutme {
    margin-right: 20px;
}

article p {
    max-width: 630px;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 35px;
    margin-left: 20px;
}

.projects {
    position: right;
    width: 100%;
    height: 1000px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
}

.project-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.projects-content {
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}

.projects-content p {
    margin-bottom: 20px;
}

.projects-content a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: all .5s ease;
    cursor: pointer;
}

.projects-content a:hover {
    transform: translateX(10px);
    background: transparent;
    border: 5px solid #fff;
}

footer {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-links a {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .5s ease;
}

.footer-links a:hover {
    padding-right: 10px;
}

.foot-socials {
    display: flex;
    gap: 20px;
}

.foot-socials a {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

/* KEYFRAMES */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
        background: rgba(225, 225, 225, .1);
        backdrop-filter: blur(10px);
        z-index: 99;
    }

    section {
        padding: 70px 20% 20px;
    }

    .navbar {
        display: none;
    }

    .navbar.active {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .navbar a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    .navbar.active {
        background: #fff;
        width: 600px;
        max-width: 600px;
        height: 500px;
        margin: 190px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .navbar ul a:before {
        background: #222;
        height: 5px;
    } 

    .follow-me {
        display: none;
    }


    .menu-btn {
        background: url(269dd16fa1f5ff51accd09e7e1602267.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(VisualEditor_-_Icon_-_Close_-_white.svg.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    .project-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .projects-content img {
        width: 350px;
        height: 300px;
    }

    .projects-content {
        max-width: 450px;
        text-transform: capitalize;
        font-weight: 500;
        text-align: center;
    }
    
    .projects-content p {
        margin-bottom: 20px;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 50px 50px 100px;
        margin-bottom: 10px;
    }
    
    article p {
        max-width: 700px;
        text-align: justify;
        margin-top: 10px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 25px;
    }

    footer {
        width: 100%;
        height: 100px;
        padding: 40px;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .footer-links {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 10px;
    }
    
    .footer-links a {
        color: var(--text-color);
        font-size: 15px;
        font-weight: 500;
        transition: all .5s ease;
    }
    
    .footer-links a:hover {
        padding-right: 10px;
    }
    
    .foot-socials {
        display: flex;
        gap: 20px;
    }
    
    .foot-socials a {
        color: var(--text-color);
        font-size: 15px;
        font-weight: 500;
    }

    .home-text h5 {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: orange;
    }
    
    .home-text h1 {
        font-size: var(--h1-font);
        font-size: 80px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .home-text p {
        font-size: var(--p-font);
        font-weight: 500;
        color: #ffffffab;
        margin-bottom: 35px;
    }
    
}