@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.thankyou-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3eadbc;
}

.thankyou {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
}

.thankyou .logo {
    position: relative;
    transform: translateY(-40%);
    font-size: 100px;
    color: #ff9710;
}

.logo:after {
    position: absolute;
    top: 20px;
    left: 0px;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.thankyou-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160px;
}

.thankyou-content h1 {
    font-size: 50px;
    color: #ff9710;
    margin-bottom: 20px;
}

.thankyou-content p {
    font-size: 18px;
    font-weight: 500;
}

.thankyou-container button {
    position: absolute;
    bottom: 70px;
    width: 50%;
    height: 50px;
    background: #ff9710;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.thankyou-container button:hover {
    background: #b36a0a;
}